<div class="container pt-5 table-responsive" style="margin-top: 5%;">
    <table class="table table-striped table-dark">
        <thead class="thead-light">
          <tr>
            <th>Tournament name</th>
            <th>Date from</th>
            <th colspan="2">Date to</th>
            <th colspan="2">Functions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tournament of tournamentArray">
            <td>{{tournament.tournament_name}}</td>
            <td>{{tournament.date_from}}</td>
            <td>{{tournament.date_to}}</td>
            <td>
              <button class="btn btn-secondary" (click)="onEdit(tournament.id)">Edit</button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteTournament(tournament.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>    
</div>
