<div class="container" style="margin-top: 5%;">
    <table class="table">
        <thead>
          <tr>
            <th>Tournament name</th>
            <th>Date from</th>
            <th colspan="2">Date to</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tournament of tournamentArray">
            <td>{{tournament.tournament_name}}</td>
            <td>{{tournament.date_from}}</td>
            <td>{{tournament.date_to}}</td>
            <td>
              <button class="btn btn-secondary" (click)="onEdit(tournament.id)">Edit</button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteTournament(tournament.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>    
</div>
